RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://service.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://service.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ara.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ara.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://australia.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://australia.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autopia.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autopia.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://credetechnologies.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://credetechnologies.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deal.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deal.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deals.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deals.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dressup.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dressup.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://easa.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://easa.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fbtest.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fbtest.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://goldenvalley.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://goldenvalley.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gtell.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gtell.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://healthcaresolutions.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://healthcaresolutions.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://herbalrepublic.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://herbalrepublic.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersof.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersof.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hk.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hk.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intucomm.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intucomm.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jewellery.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jewellery.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://khushi.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://khushi.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lumendecorating.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lumendecorating.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://maxnsam.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://maxnsam.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://memorial.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://memorial.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mine-manager.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mine-manager.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nwpea.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nwpea.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://productbuilder.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://productbuilder.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rangepaging.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rangepaging.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://referralizer.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://referralizer.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sam.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sam.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shopflow.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shopflow.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smartway.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smartway.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://unitrac.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://unitrac.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ara.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ara.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.australia.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.australia.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autopia.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autopia.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.credetechnologies.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.credetechnologies.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deal.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deal.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deals.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deals.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dressup.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dressup.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.easa.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.easa.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fbtest.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fbtest.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.goldenvalley.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.goldenvalley.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gtell.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gtell.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.healthcaresolutions.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.healthcaresolutions.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.herbalrepublic.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.herbalrepublic.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersof.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersof.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hk.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hk.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intucomm.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intucomm.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jewellery.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jewellery.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.khushi.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.khushi.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lumendecorating.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lumendecorating.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.maxnsam.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.maxnsam.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.memorial.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.memorial.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mine-manager.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mine-manager.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nwpea.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nwpea.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.productbuilder.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.productbuilder.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rangepaging.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rangepaging.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.referralizer.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.referralizer.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sam.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sam.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shopflow.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shopflow.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smartway.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smartway.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.unitrac.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.unitrac.hibersoft.net$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

RewriteCond %{HTTP_REFERER} !^http://service.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://service.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ara.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ara.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://australia.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://australia.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autopia.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autopia.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://credetechnologies.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://credetechnologies.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deal.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deal.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deals.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deals.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dressup.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dressup.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://easa.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://easa.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fbtest.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fbtest.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://goldenvalley.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://goldenvalley.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gtell.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gtell.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://healthcaresolutions.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://healthcaresolutions.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://herbalrepublic.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://herbalrepublic.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersof.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersof.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hk.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hk.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intucomm.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intucomm.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jewellery.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jewellery.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://khushi.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://khushi.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lumendecorating.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lumendecorating.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://maxnsam.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://maxnsam.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://memorial.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://memorial.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mine-manager.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mine-manager.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nwpea.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nwpea.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://productbuilder.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://productbuilder.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rangepaging.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rangepaging.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://referralizer.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://referralizer.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sam.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sam.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shopflow.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shopflow.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smartway.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smartway.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://unitrac.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://unitrac.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ara.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ara.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.australia.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.australia.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autopia.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autopia.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.credetechnologies.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.credetechnologies.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deal.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deal.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deals.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deals.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dressup.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dressup.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.easa.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.easa.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fbtest.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fbtest.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.goldenvalley.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.goldenvalley.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gtell.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gtell.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.healthcaresolutions.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.healthcaresolutions.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.herbalrepublic.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.herbalrepublic.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersof.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersof.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hk.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hk.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intucomm.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intucomm.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jewellery.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jewellery.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.khushi.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.khushi.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lumendecorating.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lumendecorating.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.maxnsam.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.maxnsam.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.memorial.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.memorial.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mine-manager.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mine-manager.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nwpea.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nwpea.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.productbuilder.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.productbuilder.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rangepaging.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rangepaging.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.referralizer.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.referralizer.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sam.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sam.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shopflow.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shopflow.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smartway.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smartway.hibersoft.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.unitrac.hibersoft.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.unitrac.hibersoft.net$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

